*{margin:0; padding:0; box-sizing:border-box;}
body{
	color: #000000;
	font-size: 16px;
	font-family: 'Lucida Bright', Georgia, serif;
}

section#splash {
	background-image:url("images/background_Nicole.jpg");
	background-size:cover;
	background-attachment:fixed;
	background-repeat:no-repeat;
	height:100vh;
}

#splash h1 {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	padding:.5em;
	margin-right: 0;
/*
	border-bottom: 4px solid #33CCCC;
	*/
}

#splash span {
	color: #33CCCC;
}
	
nav {
	background-color: #33CCCC;
}

nav a {
	background-color: none;
	color:white;
	text-decoration: none;
	float: right;
	text-transform: uppercase;
	padding: 1em 2em;
	font-size: 1em;
	font-weight: 400;
}

a:hover{
	background-color: orange;
}

nav ul{
	list-style: none;
	margin:0;
	padding:0;
}

section#About {
	padding: 2em 0;

}

#About h3{
	border-bottom: 4px solid #FF9900;
}

section#portfolio{
	text-align: center;
	margin-top: 2em;
}

section#portfolio h3{
	background-color: orange;
	color:white;
	display:inline;
	padding: .25em 1.5em;
	border: 4px solid #33CCCC;
	font-size: 2em;
}

section#portfolio div{
	margin: 4em 4em;
}

.column{
	float:left;
	width:50%;
	margin:0 auto 0 auto;
	padding:0 2em 2em 2em;
}

.column img {
	display:block;
	width:100%;
}

h1 {
	color: white;
	font-size:3em;
	font-family: 'Gotham A', 'Gotham B', sans-serif;
	font-weight: 800;
}

h3 {
	color: #33CCCC;
	font-size:1.5em;
	font-family: 'Gotham A', 'Gotham B', sans-serif;
	font-weight: 400;
}

h4 {
	color: #FF9900;
	font-size:1.25em;
	font-family: 'Gotham A', 'Gotham B', sans-serif;
	font-weight: 100;
}

p {
	font-family: 'Lucida Bright', Georgia, serif;
	color: black;
	font-size:1em;
}

.clearfix:after { 
	content: " "; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
	font-size: 0;
}
