*{margin:0; padding:0; box-sizing:border-box;}
body{
	color:#666699;
	font-size: 16px;
	font-family: 'Lucida Bright', Georgia, serif;
}


h1 {
	color: white;
	font-size:4em;
	line-height:1.2em;
	margin-bottom:.5em;
	font-family: 'Gotham A', 'Gotham B', sans-serif;
	font-weight:600;
}

h2 {
	border-bottom: 4px solid #33D685;
	margin-bottom: .5em;
	font-size:2em;
	color: #336699;
	font-family: 'Gotham A', 'Gotham B', sans-serif;
	font-weight: 500;
	display: inline-block;
	text-align: center;
}

h3{
	color: #33D685;
	font-size: 1.5em;
	/*font-family: 'Varela Round', arial, sans-serif;*/
	font-family:'trebuchet ms', sans-serif;
	font-weight: 200;
}

h4{
	font-size: 1em;
	color: #4d4d4d;
	font-family:'trebuchet ms', sans-serif;
	padding: 1em 0;
	font-style: italic;
	font-weight: 100;

}

p {
	font-size: 16px;
	line-height: 1.5;
	color: #4d4d4d;
	/*font-family: 'Lucida Bright', Georgia, serif;*/
	font-family: 'vollkorn', serif;
	text-align: left;
	font-weight: 200;
}

li {
	font-size: 14px;
	line-height: 1.5;
	color: #4d4d4d;
	font-family: 'vollkorn', serif;
	text-align: left;
}

section#splash {
	background-image:url("images/cowblue2.jpg");
	background-size:cover;
	background-attachment:fixed;
	background-repeat:no-repeat;
	height:100vh;
}

section#splash div{
	padding-top: 150px;
	margin: 0 auto 0 auto;
	text-align: center;
}

section#splash p{
	font-size:1.8em;
	color: yellow;
	font-family: 'vollkorn', serif;
	font-weight: 700;
	text-align: center;
}

/*
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	color:#666699;
	width:50%;
	*/

nav {
	background-color: #FFFFFD;
}

nav a {
	color: #336699;
	display:block;
	text-decoration: none;
	margin: 2em 0;
	font-size: 1.2em;
	font-weight: 600;
}

a:hover{
	color: #5F9EA0;
}

nav ul{
	list-style: none;
	margin:0 auto;
	max-width:50em;
	padding:0;
}
nav li {
	float:left;
	text-align:center;
	width:20%;
}

section#AboutMe {
	padding: 3em 0;
	background-color: #FFFFFD;
	border-bottom: 2px solid #A8A8AC;
	border-top: 2px solid #A8A8AC;
}

.wrap {
	max-width: 60em;
	margin: 0 auto;
	height: auto;
}

#Aboutmetext p{
	text-align: justify;
}

#AboutMe img {
	display:block;
	width:75%;
	margin: 3.75em auto 0 auto;
	border-radius: .5em;
}

#Experience {
	background-image:url("images/citytwo.jpg");
	background-size:cover;
	background-attachment:fixed;
	background-repeat:no-repeat;
	text-align: center;
}

#Experience h2{
	color: white;
}


.wrap .first {
	margin-bottom: 2em;
	text-align: center;
	color: white;
}


.film {
	padding: 4em 0;
	background:rgba(0,0,0,.2);
}

#Academics{
	text-align: center;
	padding: 2em 0 2em 0;
	background-color: #FFFFFD;
}

#Academics li{
	font-size: 14px;
	line-height: 1.5;
	color: #4d4d4d;
	font-family: 'vollkorn', serif;
}


.column{
	float:left;
	width:50%;
	margin:0 auto 0 auto;
	padding:1em 1em;
	border-radius: .25em;
}

.spain {
	margin-top: 2em;
}

.squares {
	background-color: #FFFFFD;
	float:left;
	/*margin:.5%;*/
	padding:1em 2em;
	width:49%;
	margin:.5%;
	border-radius: .5em;
}

.squares p {
	border-top: 1px solid #4d4d4d;
	padding-top: 1em;
	text-align: left;
}

#educationlist {
	border-top: 1px solid #4d4d4d;
	padding-top: 1em
}

#Research {
	text-align: center;
	background-color: #FFFFFD;
	margin-bottom: 2em;

}
.column img {
	display: block;
	width: 75%;
	margin: 0 auto 0 auto;
}

.projects img {
	display: block;
	width: 70%;
	margin: 0 auto 0 auto;
	border: 2px solid #A8A8AC;
	padding: 2em;
}

.solar img {
	display: block;
	width: auto;
	height: 20em;
	margin: 0 auto 0 auto;
}

#economics {
	text-align: left;
}

.projects {
	margin-top: 2em;
}

section#contact {
	padding: 2em 0 3em 0;
	background-image:url("images/midd_fall.jpg");
	background-size:cover;
	background-attachment:fixed;
	background-repeat:no-repeat;
	text-align: center;
}
#contact h2 {
	color: white;
}

#contact_info {
	background-color: #FFFFFD;
	margin: 0 auto 0 auto;
	width:50%;
	border-radius: .5em;
	text-align: left;
	padding: 1em 1.5em 1.5em 1.5em;
}

#contact_info h4 {
	font-style: none;
	color: #33D685;

}

#last {
	padding-bottom: 1em;
	border-bottom: 1px solid #4d4d4d;
}

.green {
	line-height: 2em;
	font-style: italic;
	font-color: green;
}

.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}

/*NOTES
	font-family: 'EB Garamond', serif;
	p.center {
    text-align: center;
    color: red;
html comment: <!-- blah -->
font-family: 'Lucida Bright', Georgia, serif;

}*/
