*{margin:0; padding:0; box-sizing:border-box;}
body{
	color:#666699;
	font-size: 16px;
	font-family: 'Lucida Bright', Georgia, serif;
}

section#splash {
	background-image:url("images/Cowsthree.jpg");
	background-size:cover;
	background-attachment:fixed;
	background-repeat:no-repeat;
	height:100vh;
}

section#splash div{
	padding-top: 200px;
	margin: 0 auto 0 auto;
	text-align: center;
}

section#splash p{
	font-size:2em;
	color: yellow;
	font-family: 'Crimson Text', serif;
	font-weight: 700;
}

/*
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	color:#666699;
	width:50%;
	*/

nav {
	background-color: white;
}

nav a {
	color: #336699;
	display:block;
	text-decoration: none;
	margin: 2em 0;
	font-size: 1.2em;
	font-weight: 600;
}

a:hover{
	color: #5F9EA0;
}

nav ul{
	list-style: none;
	margin:0 auto;
	max-width:75em;
	padding:0;
}
nav li {
	float:left;
	text-align:center;
	width:25%;
}

nav li {
	float:left;
	text-align:center;
	width:25%;
}

section#AboutMe {
	padding: 3em 0;
	background-color: white;
	border-bottom: 2px solid #A8A8AC;
	border-top: 2px solid #A8A8AC;
}

.wrap {
	max-width: 1000px;
	margin: 0 auto;
	height: auto;
}

#AboutMe img {
	display:block;
	/*width:100%;*/
	max-width: 300px;
	margin: 0 auto 0 auto;
}

#Experience {
	padding: 4em 0;
	text-align: center;
	background-image:url("images/citytwo.jpg");
	background-size:cover;
	background-attachment:fixed;
	background-repeat:no-repeat;
}

#Experience h2 {
	display:inline;
}

#Experience div {
	margin-top: 1em;
}

#Experience li{
	list-style-type: circle;
}

.column{
	float:left;
	width:50%;
	margin:0 auto 0 auto;
	padding:1em 1em;
}

.squares {
	background: rgba(255,255,235,.8);
	float:left;
	margin:.5%;
	padding:1em 2em 1em 1em;
	width:49%;
}

h1 {
	color: white;
	font-size:4em;
	line-height:1.2em;
	margin-bottom:.5em;
	font-family: 'Gotham A', 'Gotham B', sans-serif;
	font-weight:600;
}

h2{
	border-bottom: 4px solid yellow;
	margin-bottom: .5em;
	font-size:2em;
	color: #336699;
	font-family: 'Gotham A', 'Gotham B', sans-serif;
	font-weight: 500;
	display: inline-block;
}

h3{
	color: #336699;
	font-size: 1em;
	font-family: 'Crimson Text', serif;
}

p{
	font-size: 12px;
	line-height: 1.5;
	color: black;
	font-family: 'Lucida Bright', Georgia, serif;
}

li {
	font-size: 12px;
	line-height: 1.5;
	color: black;
	font-family: 'Lucida Bright', Georgia, serif;
}

section#contact {
	background: rgba(211,233,253,.8);
	padding:2em;
}

.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}

/*NOTES
	font-family: 'EB Garamond', serif;
	p.center {
    text-align: center;
    color: red;
html comment: <!-- blah -->
font-family: 'Lucida Bright', Georgia, serif;

}*/
