*{margin:0; padding:0; border-box:box-sizing;
}
body{
	color: white;
	font-size: 16px;
	font-family: arial, Helvetica, sans-serif;
}

section#splash {
	background-image:url("images/Middlebury2.jpg");
	background-size:cover;
	background-repeat:no-repeat;
	font-size:1.5em;
	height:100vh;
}

section#splash div{
	color:#666699;
	width:50%;
	margin:0 auto 0 auto;
	padding:100px 0 0 0;
	font-family: 'Lucida Bright', Georgia, serif;
	font-weight: 500;
}

section#contact {
	background-color:rgba(211,233,253,.8);
	padding:2em;
}

section#contact div{
}
h1, section#splash p {
	background:rgba(255,255,255,.5);
	padding:.5em;
}
h1{
	font-size:2em;
	line-height:1.2em;
	margin-bottom:.5em;
}

